{% extends 'layout.html' %}

{% block jsfiles %}
    {% if current_user.is_authenticated %}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if current_user.is_authenticated %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]')).forEach(function (el) {
                    new bootstrap.Tooltip(el);
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <main class="container">
        {% if current_user.is_authenticated %}
            <p class="text-center lead">Signed in with your Spotify account{% if current_user.profile_image_url %} <img src="{{ current_user.profile_image_url}}" class="rounded-1 avatar">{% endif %} <strong>{{ current_user.display_name }}</strong>.</p>

            <div class="input-group mb-3 justify-content-center" x-data="{roomUrl: null}">
                <label class="input-group-text">Your room's URL:</label>
                <input type="text" class="form-control font-monospace flex-grow-0 w-auto" readonly value="{{ current_user.room_url_absolute }}" size="55" x-model.fill="roomUrl">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Copy room's URL" @click="navigator.clipboard.writeText(roomUrl)"><i class="bi bi-clipboard"></i></button>
                <a href="{{ current_user.room_url }}" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Open room"><i class="bi bi-box-arrow-up-right"></i></a>
            </div>

            <form action="{{ url_for('home') }}" method="POST" autocomplete="off">
                {{ form.csrf_token }}

                <div class="input-group mb-3 justify-content-center {{ 'has-validation' if form.room_password.errors }}" x-data="{passwordVisible: false}">
                    <label class="input-group-text">Room password</label>
                    <input class="form-control flex-grow-0 w-auto {{ ' is-invalid' if form.room_password.errors }}" size="40" id="{{ form.room_password.id }}" minlength="4" maxlength="30" name="{{ form.room_password.name }}" placeholder="Optional, if not set room will be publicly accessible" :type="passwordVisible ? 'text' : 'password'" value="{{ form.room_password.data or '' }}" autocomplete="off">
                    <button class="btn btn-outline-secondary" type="button" @click="passwordVisible = !passwordVisible" data-bs-toggle="tooltip" data-bs-title="Show/hide password"><i class="bi bi-eye" x-show="!passwordVisible"></i><i class="bi bi-eye-slash" x-show="passwordVisible"></i></button>

                    {% if form.room_password.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.room_password.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="text-center"><button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Save room settings</button> <a href="{{ url_for('sign_out') }}" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-title="Your room will be disabled and Spotibox' access to your Spotify account will be removed"><i class="bi bi-box-arrow-right"></i> Sign out</a> <a href="#" class="btn btn-danger disabled" data-bs-toggle="tooltip" data-bs-title="All of your Spotibox data will be immediately and permanently deleted"><i class="bi bi-trash"></i> Delete account <small>(soon)</small></a></div>
            </form>
        {% else %}
            <p class="text-center">A collaborative, online jukebox based on Spotify.</p>
            <p class="text-center lead">What do you want to do?</p>

            <div class="hstack gap-3 justify-content-center align-items-start">
                <section class="text-end col">
                    <h3>Host a room</h3>

                    <p>Start by signing in using your Spotify account.</p>
                    <p><a href="{{ sign_in_spotify_url }}" class="btn btn-success">Sign in with <img src="{{ url_for('static', filename='images/spotify.png') }}"></a></p>
                </section>
                <div class="vr"></div>
                <section class="text-start col">
                    <h3>Join a room</h3>

                    <p>You do not need a Spotify account at all.</p>
                    <p><a href="{{ url_for('rooms') }}" class="btn btn-primary disabled">Browse public rooms <small>(soon)</small></a></p>
                </section>
            </div>
        {% endif %}
    </main>
{% endblock %}
