{% extends 'layout.html' %}

{% set title = 'Room' %}

{% block jsfiles %}
    {% assets 'js_app' %}<script defer src="{{ ASSET_URL }}"></script>{% endassets %}
    <script defer src="https://js.pusher.com/8.0.1/pusher.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>
{% endblock %}

{% block content %}
    <main class="hstack gap-3 w-100">
        <div class="col vstack gap-3">
            <div class="card">
                <div class="card-header">
                    Now playing
                </div>
                <div class="hstack w-100" x-data="$store.playerComponent">
                    <div>
                        <img :src="nowPlaying.album_cover_medium ?? '/images/no_cover.png'" class="rounded-start-bottom" width="250" height="250">
                    </div>
                    <div class="card-body vstack gap-2">
                        <h5 class="card-title fs-4" x-text="nowPlaying.title"></h5>
                        <h6 class="card-subtitle text-body-secondary fs-5" x-text="nowPlaying.artist_name"></h6>
                        <div class="mt-auto">
                            <button type="button" class="btn btn-secondary btn" @click="prev()" :disabled="!canUseControls"><i class="bi bi-chevron-double-left"></i></button>
                            <button type="button" class="btn btn-primary btn-lg" @click="playPause()" :disabled="!canUseControls"><i class="bi bi-play" x-show="!isPlaying"></i><i class="bi bi-pause" x-show="isPlaying"></i></button>
                            <button type="button" class="btn btn-secondary btn" @click="next()" :disabled="!canUseControls"><i class="bi bi-chevron-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" x-data="$store.playlistComponent">
                <div class="card-header">
                    Playlist <button type="button" class="btn btn-danger btn-sm" @click="clear()"><i class="bi bi-eraser"></i></button>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item list-group-item-info text-center" x-show="isEmpty()">
                        Add tracks to the playlist by first searching using the input on the right.
                    </div>

                    <template x-for="track in tracks">
                        <div class="list-group-item p-0 hstack align-items-center gap-2" :class="{'rounded-top': isFirst(track), 'rounded-bottom': isLast(track)}">
                            <div>
                                <img :src="track.album_cover_small" :class="{'rounded-start-bottom': isLast(track)}" width="56" height="56">
                            </div>
                            <div class="me-auto">
                                <span x-text="track.title"></span> • <span x-text="track.artist_name"></span>
                            </div>
                            <div class="pe-2">
                                <button type="button" class="btn btn-secondary btn-sm" x-show="!isFirst(track)" @click="moveUp(track)"><i class="bi bi-arrow-up"></i></button>
                                <button type="button" class="btn btn-secondary btn-sm" x-show="!isLast(track)" @click="moveDown(track)"><i class="bi bi-arrow-down"></i></button>
                                <button type="button" class="btn btn-secondary btn-sm" @click="queue(track)"><i class="bi bi-arrow-clockwise"></i></button>
                                <button type="button" class="btn btn-danger btn-sm" @click="remove(track)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <div class="col vstack gap-3" x-data="$store.searchComponent">
            <div class="card">
                <div class="card-header">
                    Search on <img src="{{ url_for('static', filename='images/spotify.png') }}">
                </div>
                <div class="card-body">
                    <form @submit.prevent="search()">
                        <div class="input-group input-group-lg">
                            <input type="search" class="form-control" placeholder="Title, artist, album, ..." required x-model="q">
                            <button type="button" class="btn btn-secondary" @click="clear()"><i class="bi bi-eraser"></i></button>
                        </div>
                    </form>

                    <div class="list-group mt-3" x-show="submitted">
                        <div class="list-group-item list-group-item-info text-center" x-show="submitted && results.length === 0">
                            No results.
                        </div>

                        <template x-for="track in results">
                            <div class="list-group-item p-0 hstack align-items-center gap-2" :class="{'rounded-top': isFirst(track), 'rounded-bottom': isLast(track)}">
                                <div>
                                    <img :src="track.album_cover_small" :class="{'rounded-start-top': isFirst(track), 'rounded-start-bottom': isLast(track)}" width="56" height="56">
                                </div>
                                <div class="me-auto">
                                    <span x-text="track.title"></span> • <span x-text="track.artist_name"></span>
                                </div>
                                <div class="pe-2">
                                    <button type="button" class="btn btn-secondary btn-sm" @click="queue(track)"><i class="bi bi-plus"></i></button>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
