{% extends 'layout.html' %}

{% set title = 'Password required' %}

{% block content %}
    <main class="container">
        <p class="text-center lead">This room is private. Please enter the password:</p>

        <form action="{{ user.room_url }}" method="POST">
            {{ form.csrf_token }}

            <div>
                {{ form.room_password(class='form-control w-auto', size='40') }}

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            {% if form.room_password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.room_password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </main>
{% endblock %}
