{% extends 'layout.html' %}

{% set title = '{}\'s room'.format(user.display_name) %}

{% block jsfiles %}
    {% assets 'js_room' %}<script defer src="{{ ASSET_URL }}"></script>{% endassets %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('alpine:init', function () {
            const spotiboxRoom = new Spotibox.Room('{{ user.spotify_id }}');
        });
    </script>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <p class="text-center lead">Signed in with your Spotify account{% if current_user.profile_image_url %} <img src="{{ current_user.profile_image_url}}" class="rounded-1 avatar">{% endif %} <strong>{{ current_user.display_name }}</strong>.</p>
    {% endif %}

    <p class="text-center lead">Welcome to{% if user.profile_image_url %} <img src="{{ user.profile_image_url}}" class="rounded-1 avatar">{% endif %} <strong>{{ user.display_name }}</strong>'s room.</p>

    {% if user.is_current_user_room_owner %}
        <div class="container">
            <div class="alert alert-info alert-dismissible fade show">
                <h4>This is your room.</h4>
                <ul class="mb-0">
                    <li>Keep Spotify open on at least one device as long as Spotibox is in use, otherwise this room will be made inactive.</li>
                    <li>Your Spotify playback will be remote-controlled by Spotibox.</li>
                    <li>Signing out of Spotibox will permanently disable this room, unless you sign in back (your account will not be deleted).</li>
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    {% endif %}

    <main class="hstack gap-3 w-100">
        <div class="col-6 vstack gap-3" x-data="playbackComponent">
            <div class="card" x-show="!!nowPlaying">
                <div class="card-header">
                    Now playing
                </div>
                <div class="hstack w-100">
                    <div>
                        <img :src="nowPlaying ? nowPlaying.album_cover_large : '/images/no_cover.png'" class="rounded-start-bottom album-cover-large">
                    </div>
                    <div class="card-body vstack gap-2">
                        <h5 class="card-title mb-0 fs-4" x-text="nowPlaying ? nowPlaying.title : ''"></h5>
                        <h6 class="card-subtitle text-body-secondary fs-5"><span x-text="nowPlaying ? nowPlaying.artist_name : ''"></span> • <span x-text="nowPlaying ? nowPlaying.duration : ''"></span></h6>
                        <div class="mt-auto hstack align-items-center gap-2">
                            <button type="button" class="btn btn-secondary btn" @click="prev($el)" :disabled="!canSkipToPrevious"><i class="bi bi-chevron-double-left"></i></button>
                            <button type="button" class="btn btn-primary btn-lg" @click="playPause($el)" :disabled="!canStartOrResume && !canPause"><i class="bi bi-play" x-show="canStartOrResume"></i><i class="bi bi-pause" x-show="canPause"></i></button>
                            <button type="button" class="btn btn-secondary btn" @click="next($el)" :disabled="!canSkipToNext"><i class="bi bi-chevron-double-right"></i></button>
                            <input type="range" class="ms-auto form-range volume" min="0" max="100" x-model.number="volume" @change.debounce="setVolume($el)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Coming next
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item list-group-item-info text-center" x-show="isEmpty()">
                        Add tracks by first searching on Spotify on the right.
                    </div>

                    <template x-for="track in queue">
                        <div class="list-group-item p-0 hstack align-items-center gap-2" :class="{'rounded-top': isFirst(track), 'rounded-bottom': isLast(track)}">
                            <div>
                                <img :src="track.album_cover_small" class="album-cover-small" :class="{'rounded-start-bottom': isLast(track)}">
                            </div>
                            <div class="me-auto">
                                <div x-text="track.title"></div>
                                <div class="text-body-secondary small"><span x-text="track.artist_name"></span> • <span x-text="track.duration"></span></div>
                            </div>
                            <div class="actions pe-2">
                                <button type="button" class="btn btn-secondary btn-sm" @click="requeue($el, track)"><i class="bi bi-arrow-clockwise"></i></button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <div class="col-6 vstack gap-3" x-data="searchComponent">
            <div class="card">
                <div class="card-header">
                    Search on <img src="{{ url_for('static', filename='images/spotify.png') }}">
                </div>
                <div class="card-body">
                    <form @submit.prevent="search()">
                        <fieldset :disabled="submitting">
                            <div class="input-group input-group-lg">
                                <input type="search" class="form-control" placeholder="Title, artist, album, ..." required x-model="q">
                                <button type="button" class="btn btn-secondary" @click="clear()"><i class="bi bi-eraser"></i></button>
                            </div>
                        </fieldset>
                    </form>

                    <div class="list-group mt-3" x-show="submitted">
                        <div class="list-group-item list-group-item-info text-center" x-show="submitted && results.length === 0">
                            No results.
                        </div>

                        <template x-for="track in results">
                            <div class="list-group-item p-0 hstack align-items-center gap-2" :class="{'rounded-top': isFirst(track), 'rounded-bottom': isLast(track)}">
                                <div>
                                    <img :src="track.album_cover_small" class="album-cover-small" :class="{'rounded-start-top': isFirst(track), 'rounded-start-bottom': isLast(track)}">
                                </div>
                                <div class="me-auto">
                                    <div x-text="track.title"></div>
                                    <div class="text-body-secondary small"><span x-text="track.artist_name"></span> • <span x-text="track.duration"></span></div>
                                </div>
                                <div class="actions pe-2">
                                    <button type="button" class="btn btn-secondary btn-sm" @click="queue($el, track)"><i class="bi bi-plus"></i></button>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
