{% extends 'layout.html' %}

{% set title = 'Password required' %}

{% block content %}
    <main class="container">
        <p class="text-center lead">This room is private. Please enter the password:</p>

        <form action="{{ user.room_url }}" method="POST">
            {{ form.csrf_token }}

            <div class="hstack gap-2 justify-content-center align-items-start">
                <div>
                    {{ form.room_password(class='form-control w-auto' + (' is-invalid' if form.room_password.errors else ''), size='40') }}

                    {% if form.room_password.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.room_password.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary"><i class="bi bi-unlock"></i> Unlock</button>
            </div>
        </form>
    </main>
{% endblock %}
